@{
    ViewData["Title"] = "BlogsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model BlogsViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>BlogList</title>
    <script src="https://kit.fontawesome.com/0e77a7e145.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/Blogs.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css" rel="stylesheet">
</head>
<body>
    
    <div class="row" id="content-grapper">
        <div class="container">
            <!--Bloglist show start(field 1)-->
            <div class="main-wrapper">
                <div class="bloglist-item">
                @foreach (var item in Model.BlogList)
            {
            <div class="blog-post">
                <div class="thumbnail">
                    <img src="~/picture/Carousel/@item.blog_picture" alt="@item.title">
			    </div>
                <div class="blog-content">
                    <h5><a style="text-decoration: none; color:#A42424" asp-action="BlogsDetail" asp-controller="Blogs" asp-route-blogid="@item.ID" asp-route-userid="@item.userID">@item.title</a></h5>
                    <div id="userid-@item.userID" class="meta-info">
                        <!--js will add user meta info here-->
                    </div>
                        <div class="meta-info">
                            <span>@item.publishAt<i class="bi bi-clock"></i></span>
                        </div>
                    <p>@item.description</p>
                    <div class="read-more">
                            <div class="readmore-link">
                                <a asp-action="BlogsDetail" asp-controller="Blogs" asp-route-blogid="@item.ID" asp-route-userid="@item.userID">
                                    <i class="bi bi-arrow-return-right" style="padding:0"></i>Read more
                                </a>
						    </div>
                            <div id="blog-category-@item.ID" class="blog-category">
                                <!--js will add category hêr-->
                            </div>                           
                    </div>
                </div>
            </div>
            }
				</div>
                <div class="pagination-container">
                    <ul class="pagination">
                    
                    </ul>
                </div>

        </div>
            <!--Bloglist end (field1)-->
            <div class="sidebar-container">
            <!--Category show and search bar(field2)-->
            <div class="sidebar_blog_category">
                <div class="sidebar-box">
                    @Html.Partial("_CategorySideBarPartial")
				</div>
		    </div>
            <!--Category show and search bar end(field2)-->
            <!--lastest post show start(field 3)-->
            <div class="sidebar_lastestpost">
                <div class="sidebar-box">
                    @Html.Partial("_LastestPostPartial")
                </div>
			</div>
            <!--lastest post show end(field 3)-->
			</div>
			
		</div>
    </div>
    <script src="./js/script.js"></script>
    <script src="/js/BlogsScript.js"></script>
    <!--AJAX for showing blog category-->
    @section Scripts {
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('.blog-post').each(function () {
                    var blogId = $(this).find('.blog-category').attr('id').split('-')[2];
                    var userId = $(this).find('.meta-info').attr('id').split('-')[1];                                
                    loadUserInfo(userId);
                    loadCategories(blogId);
                });
                $('.lastestpost-item').each(function () {
                    var userId = $(this).find('.post-details').find('.author').attr('id').split('-')[1];
                    loadLastestPostInfo(userId);

                });
                
            });


            // gọi yêu cầu AJAX tới BlogApi.cs để thực hiện function GetBlogCategory
            function loadCategories(blogId) {
                $.ajax({
                    url: '/api/BlogApi/GetBlogCategory/' + blogId,
                    type: 'GET',
                    success: function (data) {
                        var categoriesHtml = '';
                        data.forEach(function (category) {
                            categoriesHtml += '<span id="category" >' + category.title + '</span> ';
                        });
                        $('#blog-category-' + blogId).html(categoriesHtml);
                    },
                    error: function (error) {
                        console.error('Error loading categories:', error);
                        $('#blog-category-' + blogId).html('<span>Error loading categories</span>');
                    }
                });
            }
            // gọi yêu cầu AJAX tới BlogApi.cs để thực hiện function GetBlogUser cho bloglist
            function loadUserInfo(userId) {
                $.ajax({
                    url: '/api/BlogApi/GetBlogUser/' + userId,
                    type: 'GET',
                    success: function (data) {
                        var user = data[0]; 
                        var userHtml = '';
                        userHtml += '<span>By<a href="#" style="color: #FFD2D2;">'+user.fullname+'</a><i class="bi bi-person"></i></span>' +
                            '<span>Blogs<i class="bi bi-tag-fill"></i></span>';
                        $('.blog-post').find('#userid-'+userId).html(userHtml);
    
                    },
                    error: function (error) {
                        console.error('Error loading user info:', error);
                        $('.blog-post').find('#userid-' + userId).html('<span>Error loading user info</span>');
                    }
                });
            }
            
            // gọi yêu cầu AJAX tới BlogApi.cs để thực hiện function GetBlogUser cho lastest post
            function loadLastestPostInfo(userId) {
                $.ajax({
                    url: '/api/BlogApi/GetBlogUser/' + userId,
                    type: 'GET',
                    success: function (data) {
                        var user = data[0];
                        var userHtml = '';
                        userHtml += '<i class="fas fa-user"></i> ' + user.fullname;
                        $('.lastestpost-item').find('.post-details').find('#author-' + userId).html(userHtml);

                    },
                    error: function (error) {
                        console.error('Error loading user info:', error);
                        $('.blog-post').find('#userid-' + userId).html('<span>Error loading user info</span>');
                    }
                });
            }
        </script>
        <script>
            var containers = document.getElementsByClassName('blog-category');
            for (var i = 0; i < containers.length; i++) {
                containers[i].addEventListener('wheel', function (event) {
                    if (event.deltaY > 0) {
                        this.scrollLeft += 30; // Cuộn phải khi cuộn xuống
                    } else {
                        this.scrollLeft -= 30; // Cuộn trái khi cuộn lên
                    }
                    event.preventDefault(); // Ngăn chặn hành vi cuộn dọc mặc định
                });
            }
        </script>
    }

   
</body>
</html>
